@import "../../App.scss";

.ActivityWidget {
  width: 650px;
  height: 325px;
  border-radius: 20px;

  /* White Color */

  background: $white;

  &__Title {
    position: absolute;
    width: 172px;
    height: 23px;
    left: 2px;
    top: -10%;

    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;

    /* Main Color */

    color: #089bab;
  }
  &__Chart {
    width: 550px;
    position: absolute;
    left: 45%;
    transform: translate(-50%, -50%);
    top: 55%;
  }
  &__Button {
    padding: 3px 10px;
    margin: 0 5px;
    font-weight: bold;
    border-radius: 10px;
    background-color: transparent;
    color: $main-color;
    &-Selected {
      background-color: $main-color;
      color: $white;
    }
    &-Container {
      position: absolute;
      right: 5%;
      top: 5%;
    }
  }
}
