@import "../../App.scss";

.ToggleBajaar {
  background-color: white;
  width: 400px;
  height: 60px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: bold;
  color: $main-color;
  position: relative;
  left: 40%;
  transform: translate(-50%, -50%);
  top: 10%;
  cursor: pointer;

  @media screen and(max-width:1400px) {
    transform: scale(0.5);
    top: 4%;
    left: 30%;
  }
  &__Text {
    border-radius: 30px;
    padding: 10px 0;
    color: $main-color;
    text-align: center;
    background-color: $white;
  }
  &__Selected {
    background-color: $main-color;
    color: $white;
  }
}

.Insurance {
  position: relative;
  left: 15%;
  top: 15%;
}

.ShoppingList {
  position: relative;
  top: 75px;
  left: 12.5%;
  height: 385px;

  //   overflow-x: scroll;
  padding: 30px 0;
  //   width: 1000000px;
  @media screen and(max-width:1400px) {
    height: 200px;
  }
  &__Title {
    position: relative;
    top: -15px;
    color: $main-color;

    @media screen and(max-width:1400px) {
      font-size: 14px;
    }
  }
}
