.Position-Journal {
  &__ActivityWidget {
    top: 150px;
    @media screen and(max-width:1400px) {
      left: 150px;
      top: 100px;
    }
  }

  &__CalorieWidgetLarge {
    position: relative;
    left: 200px;
    top: 550px;
    @media screen and(max-width:1400px) {
      transform: scale(0.6);
      left: 20px;
      top: 320px;
    }
  }

  &__CalendarWidget {
    position: absolute;
    left: 50px;
    top: 30px;
    transform: scale(0.8);
  }
}
