/*Grid System with Media Query*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:100,400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
.col {
  float: left;
}
.col-12 {
  width: 100%;
}
.col-11 {
  width: 91.662%;
}
.col-10 {
  width: 83.332%;
}
.col-9 {
  width: 75%;
}
.col-8 {
  width: 66.662%;
}
.col-7 {
  width: 58.331%;
}
.col-6 {
  width: 50%;
}
.col-5 {
  width: 41.662%;
}
.col-4 {
  width: 33.332%;
}
.col-3 {
  width: 25%;
}
.col-2 {
  width: 16.662%;
}
.col-1 {
  width: 8.332%;
}

.bold {
  font-weight: 900;
  font-size: inherit;
  color: inherit;
}

.thin {
  font-weight: 100;
  font-size: inherit;
  color: inherit;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.test {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}
