@import "../../App.scss";

.TaskWidget {
  width: 280px;
  height: 322px;
  background: #ffffff;
  border-radius: 20px;
  margin: 0 5px;

  &__Title {
    color: $main-color;
    font-size: 20px;
    width: 100%;
    text-align: center;
    font-family: Montserrat;
    position: relative;
    top: 17px;
  }
  &__Subtitle {
    color: black;
    font-size: 18px;
    font-weight: 100;
    width: 100%;
    text-align: center;
    font-family: Montserrat;
    position: relative;
    top: 30px;
  }
  &__Circle {
    width: 170px;
    position: relative;
    left: 50px;
    top: 50px;
    // transform: translate(-50%, -50%);
  }
  &__Progress {
    color: black;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    font-family: Montserrat;
    position: relative;
    top: -50px;
  }
  &__Prize {
    transform: scale(0.5);
    position: relative;
    top: 25px;
  }
  &__Sender {
    position: relative;
    width: 200px;
    left: -93px;
    top: -130px;
    // top: -200px;
    /* Main Color */

    font-size: 14px;
    text-align: center;
    font-weight: bold;
    background: #089bab;
    border-radius: 0px 0px 20px 20px;
    transform: rotate(270deg);
  }
}
